#single-post{
  @extend #page;
  background-color: #FFF;
  padding:10px;

  .entry-title
  {
    font-family:"Fjalla One", sans-serif;
  }
}

#single-wrapper{
  width:100%;
  padding-top:20px;
  padding-left:50px;
  padding-right:50px;

  #title-single{
    text-align:center;
    margin-bottom:30px;
  }
}

#metaz{
  margin-left:10px;
  padding:10px;
  margin-bottom:10px;

  h5{
    @include title-style($primary-color);
  }

}

#focused{
  text-align:center;
  margin-bottom:20px;
}

#page-custom{
  @extend #page;
  background-color:white;
  padding:10px;
}
